/*! destyle.css v3.0.2 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -webkit-tap-highlight-color: transparent; /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none; /* 1 */
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit; /* 2 */
}

/**
 * Reset radio and checkbox appearance to preserve their look in iOS.
 */
[type=checkbox] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
       appearance: checkbox;
}

[type=radio] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
       appearance: radio;
}

/**
 * Correct cursors for clickable elements.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
}

button:disabled,
[type=button]:disabled,
[type=reset]:disabled,
[type=submit]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */
:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px; /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable]:focus {
  outline: auto;
}

/* Tables */
/* ============================================ */
/**
1. Correct table border color inheritance in all Chrome and Safari.
*/
table {
  border-color: inherit; /* 1 */
  border-collapse: collapse;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

body {
  font-family: "Raleway", sans-serif;
  color: #333;
}
body * {
  box-sizing: border-box;
}

a {
  color: #333;
  text-decoration: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

ul {
  list-style: none;
}

.blContainer {
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
}

.siteTitle {
  text-align: center;
  padding-top: 45px;
  padding-bottom: 36px;
}
.siteTitle__logo {
  display: block;
}
.siteTitle__logo img {
  width: 100px;
}

.menu {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #c3c3c3;
  padding-bottom: 26px;
}
.menu__mainList {
  display: flex;
}
.menu__mainItem a {
  display: inline-block;
  margin-right: 14px;
}
.menu__subList {
  display: flex;
}
.menu__subList li a {
  margin-left: 14px;
  display: inline-block;
}

.item {
  padding: 50px 100px 100px;
  display: flex;
  justify-content: center;
}
.item__img {
  flex: 1 1 400px;
  margin-right: 60px;
}
.item__description {
  flex: 1 1 336px;
}

.itemText h2 {
  font-size: 1rem;
  font-weight: bold;
  padding-top: 1.125em;
  padding-bottom: 1.125em;
  border-top: 1px solid #c3c3c3;
  border-bottom: 1px solid #c3c3c3;
}
.itemText p {
  padding-top: 20px;
  padding-bottom: 30px;
  font-size: 0.75rem;
  line-height: 1.83;
}
.itemText__price {
  font-size: 0.75rem;
  margin-bottom: 30px;
}
.itemText__size {
  font-size: 0.75rem;
  border-collapse: collapse;
  margin-bottom: 20px;
}
.itemText__size td {
  text-align: center;
  padding: 10px 20px;
  white-space: nowrap;
  border-right: 1px solid #c3c3c3;
  border-bottom: 1px solid #c3c3c3;
}
.itemText__size td:nth-of-type(3n) {
  border-right: none;
}
.itemText__size tr:last-child td {
  border-bottom: none;
}
.itemText__cart a {
  display: block;
  text-align: center;
  padding: 18px;
  background-color: #4b4b4b;
  color: #fff;
  margin-bottom: 30px;
}
.itemText__sizeChart {
  border: #c3c3c3 1px solid;
  font-size: 0.75rem;
  width: 100%;
}
.itemText__sizeChart th {
  background: #ECEBEB;
  padding: 10px 20px;
  text-align: center;
  border: #c3c3c3 1px solid;
}
.itemText__sizeChart td {
  border: #c3c3c3 1px solid;
  padding: 10px 20px;
  text-align: center;
  white-space: nowrap;
}

select {
  width: 184px;
  font-size: 0.75rem;
  padding: 0 10px;
  text-align: left;
  border: 1px solid #c3c3c3;
  -moz-appearance: menulist;
  -webkit-appearance: menulist;
}

footer {
  font-size: 10px;
  text-align: center;
}

@media screen and (max-width: 896px) {
  .menu {
    flex-direction: column;
    align-items: center;
    font-size: 12px;
  }
  .menu__subList {
    margin-top: 10px;
  }
  .item {
    flex-direction: column;
    padding: 0;
  }
  .item__img {
    margin-right: 0;
  }
  .item__description {
    padding: 0 5px;
    margin-top: 10px;
    margin-bottom: 100px;
  }
}
/*# sourceMappingURL=style.css.map */